.error {
    font-size: 30px;
    margin: 0 auto;
    padding: 50px;
    width: auto;
    color: #e53935;
    text-align: center;
}

.errorCat {
    padding: 20px;
    font-size: 60px;
    color: #e53935;
    font-weight: bold;
}

.item a {
    color: #0d47a1;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #0d47a1;
    border-radius: 5px;

}